---
pageable: true
per_page: 10
---


<div id="landing-page">
  <%= image_tag 'logo.png', class: 'img-responsive logo' %>
  <p>
    We're closing the loop on learning from every patient encounter to help people </br>
    and their providers individualize care and make data-driven decisions 100% of the time.
  </p>
  </br>
  <p>
    Open and collaborative medicine.  That's the frontier.
  </p>
</div>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
  <%= article.body %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
